{% extends 'base.html.twig' %}
{% block stylesheets %}
<style>
    #calculator-wrap{
        line-height: 30px;
        margin:auto;
        text-align: center;
        border:1px solid green;
        background-color: darkolivegreen;
        width:40%;
    }
    #calculator-wrap #calculator #calculator_expression label{
        display: inline-block;
    }
</style>
{% endblock %}
{% block body %}

    <div id="calculator-wrap">
        <h1>Simple Calculator</h1>
        {{ form_start(form, {'attr': {'class': 'form_calc'}}) }}
        <div class="errors">
            {{ form_errors(form) }}
        </div>
        {{ form_widget(form) }}
        {{ form_end(form) }}
       <div>Answer:</div>
        <strong>{% if result %}{{ result }}{% else %}0{% endif %}</strong>
    </div>
{% endblock %}
